# Development dependencies - formatters, linters, type checkers and pre-commit hooks
black~=25.9.0
isort~=7.0.0
flake8~=7.3.0
flake8-pyproject~=1.2.3
mypy~=1.18.2
pre-commit~=4.3.0

# Include production requirements
-r requirements.txt
